body{
    font-family: Arial, Helvetica, sans-serif;
}

.tabs{
    overflow: hidden;
    background-color: rgb(223, 217, 217);
    border: 1px solid rgb(172, 170, 170)
}
.tabs button{
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    float: left;
    padding: 14px 16px;
    font-size: 18px;
    transition: 0.3s;
}
.tabs button:hover{
    background-color: rgb(201, 194, 194);

}
.tab-content{
    display: none;
    border: 1px solid rgb(201, 194, 194);
    border-top: none;
    padding: 12px 16px;
}





